/* body {} */
body {
  background-image: url("background.jpg");
  background-size: cover;

}

#sfondo-trasparente {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 9%;
  padding: 50px
}

/* header */
.logo {
  width: 15%;

}

.intestazione {
  color: lime;
}

/* nav */
#bottoni {
  background-color: lime;
  padding: 10px;
}

/* main */
.checkbox {
  margin-top: 10px;
  color: white;
  text-align: left;
  font-size: 25px;
}

.descrizione {
  font-size: 15px;
}

/* barre di progresso */
#progress-bar-medium {
    background-color: orange;
    height: 25px;
    width: 250px;
    border-radius: 5px;
}

#progress-bar-full {
    background-color: green;
    height: 25px;
    width: 500px;
    border-radius: 5px;
}

#progress-bar-low {
    background-color: red;
    height: 25px;
    width: 125px;
    border-radius: 5px;
}
